.page-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 8px;
  margin-top: 8px;
  padding-bottom: 8px;
  min-height: 120px;
}

@media (min-width: 672px) {
  .page-grid {
    grid-template-columns: repeat(auto-fill, minmax(110px, 140px));
    gap: 10px;
  }
}
